nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
    min-width: 508px;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }
}
 nav a.button-collapse
 {
 	color:black;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
#lockbox {
  
}

#responsive-img {
  width: 120%;
  height: auto;
  padding: 20px;
  min-width: 100%;
}

.min-div-width {
  min-width: 300px;
}

#icon-shrink {
  display: hide;
}

.headline {
  font-family: 'Knewave', cursive;
}

/* .font-content {
  font-family: 'Varela Round', sans-serif;
} */

body {
  font-family: 'Varela Round', sans-serif;
}

#nav-icon {
  padding: 0 -120px;
}

#title-header {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Knewave', cursive; */
  /* font-family: 'Varela Round', sans-serif; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 3px;
  left: 5px;
}

#res-height {
  max-height: 50%;
  max-width: 80%;
  /* padding-left: 9px; */
}

a.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

a.grocery-anchor {
  display: block;
  position: relative;
  top: -20px;
  visibility: hidden;
}

img#down_size {
  width: 60%;
  height: 60%;
}

a:active {
  background-color: gold;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

a.glow:hover,
a.glow:active {
  background-color: orangered;
  color: white;
}
a.glow:focus {
  background-color: orange;
}
a#hvr-red:hover {
  color: orangered;
}

button:hover {
  box-shadow: 10px 10px 5px grey;
}

a#tips:hover {
  text:orange;
}