<footer class="page-footer orange darken-4">

    <div class="footer-copyright">
        <div class="container white-text">
            <p>Copyright © guide-san-diego.com</p>
        </div>
    </div>
</footer>

{{!-- <script src="../assets/js/app.js"></script> --}}