<footer class="page-footer orange darken-4">

    <div class="footer-copyright orange darken-4">
        <div class="container white-text">
            <p>Copyright © guide-san-diego.com</p>
        </div>
    </div>
</footer>