<div id="navbar" class="navbar-fixed scrollspy">
    <nav class="white">
        <div class="nav-wrapper container">
            <div class="container">
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">dehaze</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class="active">
                        <a href="/index.html#navbar">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a href="/policy#check-in">Check-in</a>
                    </li>
                    <li>
                        <a class="head-link" href="/home#aboutus">About Us</a>
                    </li>
                    <li>
                        <a class="head-link" href="/home#contactus">Contact Us</a>
                    </li>
                    <li>
                        <a href="/policy#check-out">Check-out</a>
                    </li>

                </ul>
                <ul class="right side-nav" id="mobile-demo">
                    <li class="active">
                        <a href="/index.html#navbar">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a class="sidenav-close" href="/policy#check-in">Check-in</a>
                    </li>
                    <li>
                        <a class="head-link sidenav-close" href="/home#aboutus">About Us</a>
                    </li>

                    <li>
                        <a class="head-link sidenav-close" href="/home#contactus">Contact Us</a>
                    </li>
                    <li>
                        <a href="/policy#check-out" class="sidenav-close" >Check-out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>