<div id="navbar" class="navbar-fixed scrollspy">
    <nav class="white right">
        <div class="nav-wrapper pad-left-30">
            {{!-- <div class="container right"> --}}
                <a href="#" data-activates="mobile-demo" class="button-collapse left">
                    <i class="material-icons">dehaze</i>
                </a>
                <ul class="right hide-on-med-and-down" style="margin:0 -100px 0 0;">
                    <li id="home">
                        <a class="hvr-grow glow" href="/home">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li id="check-in">
                        <a class="hvr-grow glow" href="/policy">Check-in</a>
                    </li>
                    <li id="house-rules">
                        <a class="hvr-grow glow" href="/policy#house">House Rules</a>
                    </li>
                    <li id="contact">
                        <a class="hvr-grow glow" href="https://www.airbnb.com/inbox">Contact Us</a>
                    </li>
                    <li id="local-guide">
                        <a class="hvr-grow glow" href="/local_guide">Local Guide</a>
                    </li>
                    <li id="check-out">
                        <a class="hvr-grow glow" href="/policy#checks">Check-out</a>
                    </li>

                </ul>
                <ul class="right side-nav" id="mobile-demo">
                    <li id="home">
                        <a class="hvr-grow glow" id="hvr" href="/home">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li id="check-in">
                        <a class="sidenav-close hvr-grow glow" href="/policy">Check-in</a>
                    </li>
                    <li id="house-rules">
                        <a class="sidenav-close hvr-grow glow" href="/policy#house">House Rules</a>
                    </li>
                    <li id="contact">
                        <a class="sidenav-close hvr-grow glow" href="https://www.airbnb.com/inbox">Contact Us</a>
                    </li>
                    <li id="local-guide">
                        <a class="hvr-grow glow" href="/local_guide">Local Guide</a>
                    </li>
                    <li id="checks-out">
                        <a class="hvr-grow glow" href="/policy#checks" class="sidenav-close" >Check-out</a>
                    </li>
                </ul>
            {{!-- </div> --}}
        </div>
    </nav>
</div>