<div class="container section scrollspy" id="contactus">
  <div class="section">
    <br>
    <br>
    <h2>Contact Us</h2>
    <form action="/index" id="contact-form" method="post" role="form">

      <div class="row">
        <form class="col s8">
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text">
              <label for="first_name">Your First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text">
              <label for="last_name">Your Last Name</label>
            </div>

            <div class="input-field col s6">
              <input id="email" type="email">
              <label for="email">Your Email</label>
            </div>
          </div>

          <!--row-->
          <div class="row">
            <div class="input-field col s12">
              <input id="message_sub" type="email">
              <label for="message_sub">Message Subject</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <textarea id="text_area" class="materialize-textarea"></textarea>
              <label for="text_area">Your Message</label>
            </div>
          </div>

          <div>
            <button id="submit" class="waves-effect waves-light btn large orange darken-4 hvr-grow" style="padding-bottom:40px;">Submit<i class="material-icons icon">send</i></button>
          </div>
        </form>

        <div class="col s4">
          <p>
            We strive to make every stay with us a 5 star experience so please do not hesitate if you have any questions, concerns, or
            requests.
          </p>
          <ul class="share-buttons">
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook">
                <img src="../assets/images/flat_web_icon_set/inverted/Facebook.png">
              </a>
            </li>
            <li>
              <a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet">
                <img src="../assets/images/flat_web_icon_set/inverted/Twitter.png">
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+">
                <img src="../assets/images/flat_web_icon_set/inverted/GooglePlus.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="../assets/js/contact.js" type="text/javascript"></script>