<div id="navbar" class="navbar-fixed scrollspy">
    <nav class="white">
        <div class="nav-wrapper container">
            <div class="container">

                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">dehaze</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class="active">
                        <a href="/index.html#navbar">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a href="/checkin">Check-in</a>
                    </li>
                    <li>
                        <a class="head-link" href="#aboutus">About Us</a>
                    </li>
                    <li>
                        <a class="head-link" href="#contactus">Contact Us</a>
                    </li>
                    <li>
                        <a href="/checkout">Check-out</a>
                    </li>

                </ul>
                <ul class="right side-nav" id="mobile-demo">
                    <li class="active">
                        <a href="/index.html#navbar">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li>
                        <a href="/checkin">Check-in</a>
                    </li>
                    <li>
                        <a class="head-link sidenav-close" href="#aboutus">About Us</a>
                    </li>

                    <li>
                        <a class="head-link sidenav-close" href="#contactus">Contact Us</a>
                    </li>
                    <li>
                        <a href="/checkout">Check-out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 id="title-header" class="header center orange-text text-darken-4">
                <strong>Welcome to San Diego</strong>
            </h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">A guide to help you on your journey</h5>
            </div>
            <div class="row center">
                <a href="/checkin" class="btn-large waves-effect waves-light orange darken-4">Check-in</a>
            </div>

        </div>
    </div>
    <div class="parallax">
        <img src="../images/beach-p.jpg" alt="cali pier">
    </div>
</div>
<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center" style="color:#333">
                        <a href="#local-guide">
                            <i class="medium material-icons">local_dining</i>
                        </a>
                    </h2>
                    <!-- #1 feature -->
                    <h5 class="center">Live like a Local</h5>
                    <p class="light">Insights gathered over 30 years in this beautiful city can surprise even repeat visitors </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center" style="color:#333">
                        <a href="#tv-guide">
                            <i class="medium material-icons">tv</i>
                        </a>
                    </h2>
                    <!-- #2 feature -->
                    <h5 class="center">Cut the Cord</h5>
                    <p class="light">Netflix, Amazon Prime, DirecTV NOW, HBOgo, ESPN, AMC, NBC, ABC, FOX, and much more </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center" style="color:#333">
                        <a href="#wifi">
                            <i class="medium material-icons">wifi</i>
                        </a>
                    </h2>
                    <!-- #3 feature -->
                    <h5 class="center">On the House</h5>
                    <p class="light center">Wifi
                        <br>Coffee
                        <br>Continental Breakfast
                        <br>Filtered Water
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12" style="color: rgb(8, 8, 8);">year round average temperature is 70°F(21°C)</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../images/beach-exotic.jpg" alt="beach">
    </div>
</div>

<div class="container section scrollspy" id="to-do">
    <div class="section">
        <br>
        <br>
        <h4 class="center">Getting Started</h4>
        <br>
        <div class="row">
            <div class="col s6 m3">
                <a href="/checkin">
                    <img class="responsive-img" src="../images/check-in.jpg" alt="check-in" />
                </a>
            </div>
            <div class="col s6 m3">
                <a href="/checkin#rules">
                    <img class="responsive-img" src="../images/helpful_tips.jpg" alt="rules">
                </a>
            </div>

            <div class="col s6 m3 center">
                <a href="#emergency">
                    <img id="res-height" class="responsive-img" src="../images/emergency.png" alt="emergency">
                </a>
            </div>
            <div class="col s6 m3">
                <a href="#house_guide">
                    <img class="responsive-img" src="../images/room-guide.jpeg" alt="house guide">
                </a>
            </div>
        </div>
        <!--row-->

        <div class="center">
            <a class="waves-effect waves-light btn purple lighten-1">View more</a>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="center row col s3">
                <h3>Mi Casa Su Casa</h3>
            </div>
            <div class="center row col s12">
                <p>Where we love is home -
                    <br> home that our feet may leave, but not our hearts.
                    <br>
                    <em>Oliver Wendell Holmes, Sr.</em>
                </p>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../images/1423255813yuwjj.jpg" alt="img">
    </div>
</div>

<div class="container section scrollspy" id="contactus">
    <div class="section">
        <br>
        <br>
        <h2>Contact Us</h2>
        <form action="/index" id="contact-form" method="post" role="form">

            <div class="row">
                <form class="col s8">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" type="text" class="validate">
                            <label for="name">Your Name</label>
                        </div>

                        <div class="input-field col s6">
                            <input id="email" type="email" class="validate">
                            <label for="email">Your Email</label>
                        </div>
                    </div>

                    <!--row-->
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="message-sub" type="email" class="validate">
                            <label for="message-sub">Message Subject</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="text_area" class="materialize-textarea"></textarea>
                            <label for="text_area">Your Message</label>
                        </div>
                    </div>

                    <div>
                        <a class="waves-effect waves-light btn purple lighten-1" style="padding-bottom:40px;">Send Message
                            <i class="material-icons icon">send</i>
                        </a>
                    </div>

                </form>

                <div class="col s12 m4">
                    <p>
                        We strive to make every stay with us a 5 star experience so please do not hesitate if you have any questions, concerns, or
                        requests.
                    </p>
                    <ul class="share-buttons">
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook">
                                <img src="../images/flat_web_icon_set/inverted/Facebook.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet">
                                <img src="../images/flat_web_icon_set/inverted/Twitter.png">
                            </a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+">
                                <img src="../images/flat_web_icon_set/inverted/GooglePlus.png">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>


<footer class="page-footer purple lighten-1">

    <div class="footer-copyright">
        <div class="container">
            <p>Copyright © guide-san-diego.com</p>
        </div>
    </div>
</footer>



<script>
    $(document).ready(function () {
        $('.materialboxed').materialbox();
        $('.button-collapse').sideNav();

    });
</script>
<script>
    $('.head-link').click(function (e) {
        e.preventDefault();

        var goto = $(this).attr('href');

        var togo = $(goto)
        if (togo.length) {
            $('html, body').animate({
                scrollTop: $(goto).offset().top
            }, 800);
        }
    });

</script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-60673008-2', 'auto');
    ga('send', 'pageview');
</script>