<style>
    body {
        background-image: url("images/windandsea.jpg");
    }
</style>
<div class="container">
    <div style="background-color:white;">
        <div class="container">
            <section class="header">
                <h1>House Manual</h1>
            </section>
            <div class="row">
                <!-- Kitchen  -->
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/kitchen.jpg">
                            <span class="card-title activator white-text hvr-grow darken-4">Kitchen</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Full Service Kitchen with many useful amenities for your cooking pleasure
                            </p>
                            <i class="material-icons right">more_vert</i>
                            <p>
                                <a class="hvr-grow hvr-orange-red" href="/images/Airbnb_House_Manual.jpg">download</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Amenities
                                <i class="material-icons right">close</i>
                            </span>
                            <ul>
                                <li>
                                    <a class="hvr-grow hvr-orange-red" href="https://youtu.be/w6c5vfopUSo" target="_blank">Stove Top</a>
                                </li>
                                <li>
                                    Microwave, Toaster
                                </li>
                                <li>
                                    Rice Cooker
                                </li>
                                <li>
                                    Rice Cooker
                                </li>
                                <li>
                                    Kettle
                                </li>
                                <li>
                                    Pots, pans
                                </li>
                                <li>
                                    <a class="hvr-grow hvr-orange-red" href="https://youtu.be/Pl0EVFCDQ-Y " target="_blank">Keurig Coffee Maker</a>
                                </li>
                                <li>
                                    Spices, Cooking Oils, Condiments
                                </li>
                                <li>
                                    Blender
                                </li>
                                <li>
                                    Slow Cooker
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Laundry  -->
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/washer_dryer.jpg">
                            <span class="card-title activator white-text hvr-grow darken-4">Laundry</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Located downstairs
                                <br> next to kitchen and living room
                            </p>
                            <i class="material-icons right">more_vert</i>
                            <p>
                                <a class="hvr-grow hvr-orange-red" href="/images/Airbnb_House_Manual.jpg">download</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Amenities
                                <i class="material-icons right">close</i>
                            </span>
                            <ul>
                                <li>
                                    <a class="hvr-grow hvr-orange-red" href="https://youtu.be/I-Kt7ir2GZo" target="_blank">Washer, Dryer</a>
                                </li>
                                <li>
                                    Laundry Detergent, Dryer Sheets, Stain Remover
                                </li>
                                <li>
                                    Iron, Ironing Board
                                </li>
                                <li>
                                    Broom, Dustpan
                                </li>
                                <li>
                                    Floor Steamer
                                </li>
                                <li>
                                    Cleaning Supplies
                                </li>
                                <li>
                                    Paper Towels
                                </li>
                                <li>
                                    Beach/Pool Towels
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Backyard  -->
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/pool.jpg">
                            <span class="card-title activator white-text hvr-grow darken-4">Backyard</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Great way to beat the heat
                            </p>
                            <i class="material-icons right">more_vert</i>
                            <p>
                                <a class="hvr-grow hvr-orange-red" href="/images/Airbnb_House_Manual.jpg">download</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Amenities
                                <i class="material-icons right">close</i>
                            </span>
                            <ul>
                                <li>
                                    <a class="hvr-grow hvr-orange-red" href="https://youtu.be/ZRC46-UCmsI" target="_blank">BBQ</a>
                                </li>
                                <li>
                                    Jacuzzi
                                </li>
                                <li>
                                    Pool
                                </li>
                                <li>
                                    Floaties
                                </li>
                                <li>
                                    Sun Chairs
                                </li>
                                <li>
                                    Fire Pit
                                </li>
                                <li>
                                    Pool Towels
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Trash  -->
                <div class="col s12 m6">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/trash_recycle.jpeg">
                            <span class="card-title activator white-text hvr-grow darken-4">Disposal</span>
                        </div>
                        <div class="card-content">
                            <p>
                                How to get rid of your disposables
                            </p>
                            <i class="material-icons right">more_vert</i>
                            <p>
                                <a class="hvr-grow hvr-orange-red" href="/images/what-goes-where.pdf">download</a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">What goes where
                                <i class="material-icons right">close</i>
                            </span>
                            <ul>
                                <li>
                                    The kitchen has a trash receptacle that is motion sensored to open.
                                    <br>
                                    <br>
                                </li>
                                <li>
                                    The white bin in the kitchen labelled recycle is for recyclables.
                                    <br>
                                    <br>
                                </li>
                                <li>
                                    <a class="hvr-grow hvr-orange-red" href="https://www.sandiego.gov/sites/default/files/what-goes-where.pdf" target="_blank">Guide To What Goes Where</a>
                                    <br>
                                    <br>
                                </li>
                                <li>
                                    Trash from your room and large trash items should go in the black trash bin located next to the driveway.
                                    <br>
                                    <br>
                                </li>
                                <li>
                                    Large cardboard boxes should be flattened and placed in the large blue recycle bin located next to the driveway.
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>