<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 id="title-header" class="header center orange-text text-darken-4">
                <strong>Local's Guide</strong>
            </h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">A guide to help you on your journey</h5>
            </div>
            <div class="row center">
                <a href="/policy#check-in" class="btn-large waves-effect waves-light orange darken-4">Check-in</a>
            </div>

        </div>
    </div>
    <div class="parallax">
        <img src="../images/ocean-sunset.jpg" alt="cali pier">
    </div>
</div>
<div class="container section scrollspy" id="to-do">
    <div class="section">
        <br>
        <br>
        <h4 class="center">Getting Hungry?</h4>
        <br>
        <div class="row">
            <div class="col s6 m3">
                <a class="anchor"></a>
                <a id="grocery" href="#grocery-anchor">
                    <img class="responsive-img" src="../images/grocery.png" alt="grocery" />
                </a>
                {{!--
                <a href="#grocery_list" id="grocery_list"> --}} {{!--
                    <p id="grocery_list">Grocery list</p> --}}
                    <div class="row" id="grocery_list">
                        <div class="col s12">
                            <div class="card">
                                <div id="grocery_list" class="card-image">
                                    <a href="http://www.organicfood-sandiego.com/">
                                        <img src="images/windmill_farms_logo.jpg">
                                    </a>
                                </div>
                                <div class="card-content">

                                    <p>Windmill Farms
                                        <br>Great produce
                                        <br>Bulk Snacks
                                        <br>Organic Options
                                        <br>Cheap Sandwiches
                                        <br>Fresh Produce
                                    </p>

                                </div>
                                <div class="card-action">
                                    <a href="https://www.yelp.com/biz/windmill-farms-san-diego?osq=windmill+Farms">Reviews</a>
                                    <a href="https://www.yelp.com/map/windmill-farms-san-diego?start=college%20blvd%20lance%20san%20diego%2C%20ca%2092120">Directions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- </a> --}}
            </div>
            <div class="col s6 m3">
                <a href="/policy#rules">
                    <img class="responsive-img" src="../images/helpful_tips.jpg" alt="rules">
                </a>
            </div>

            <div class="col s6 m3 center">
                <a href="#emergency">
                    <img id="res-height" class="responsive-img" src="../images/emergency.png" alt="emergency">
                </a>
            </div>
            <div class="col s6 m3">
                <a href="https://www.airbnb.com/help/article/100/where-can-i-find-check-in-information-for-my-trip">
                    <img class="responsive-img" src="../images/room-guide.jpeg" alt="house guide">
                </a>
            </div>
        </div>
        <!--row-->

        <div class="center">
            <a href="https://www.airbnb.com/help?audience=guest" class="waves-effect waves-light btn purple lighten-1">More Help</a>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12" style="color: rgb(8, 8, 8);">year round average temperature is 70°F(21°C)</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../images/sunset palm trees.jpg" alt="beach">
    </div>
</div>