<div id="index-banner" class="parallax-container">
    <div>
        <div class="container">
            <br>
            <br>
            <h1 id="title-header" class="header center orange-text text-darken-4">
                <strong>Local's Guide</strong>
            </h1>
            <div class="row center">
                <h5 class="header col s12 light white-text">A guide to help you on your journey</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../assets/images/ocean-sunset.jpg" alt="cali pier">
    </div>
</div>
<div class="container section scrollspy" id="to-do">
    <div class="section">
        <br>
        <br>
        <h4 class="center">Getting Hungry?</h4>
        <br>
        <div class="row">
            <div class="col s4 offset-s1 m3">
                <a id="grocery" href="#grocery-anchor" class="hvr-grow center">
                    <img class="responsive-img" id="img-max-height" src="../assets/images/grocery.png" alt="grocery" />
                </a>
                <!--  ----------------------------  -->
                <!--   Small Screen Grocery Cards   -->
                <!--  ----------------------------  -->
                <div class="row" id="grocery_list_s">
                    <div class="col s12">
                        <div class="card center card-width-min">
                            <div class="card-image">
                                <a class="hvr-grow img-push-right" href="http://www.organicfood-sandiego.com/">
                                    <img src="../assets/images/windmill_farms_logo.jpg">
                                </a>
                            </div>
                            <div class="card-content">
                                <p>Fresh produce
                                    <br>Bulk Snacks
                                    <br>Organic Options
                                    <br>Cheap Sandwiches
                                    <br>9am - 8pm
                                </p>
                            </div>
                            <div class="card-action">
                                <a class="hvr-grow" href="https://www.yelp.com/biz/windmill-farms-san-diego?osq=windmill+Farms">About</a>
                                <a class="hvr-grow" href="https://www.yelp.com/map/windmill-farms-san-diego?start=college%20blvd%20lance%20san%20diego%2C%20ca%2092120">Directions</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="card center  card-width-min">
                            <div class="card-image img-push-right">
                                <a class="hvr-grow img-push-right" href="https://www.traderjoes.com/">
                                    <img class="center" id="down_size" src="../assets/images/trader-joes.jpg">
                                </a>
                            </div>
                            <div class="card-content">
                                <p>Free Parking
                                    <br>Unique products
                                    <br>Ready Meals
                                    <br>Organic Options
                                    <br>Tasty Snacks
                                </p>
                            </div>
                            <div class="card-action">
                                <a class="hvr-grow" href="https://www.yelp.com/biz/trader-joes-san-diego-26?osq=Trader+Joes+Near+Me">About</a>
                                <a class="hvr-grow" href="https://www.yelp.com/map/trader-joes-san-diego-26?start=college%20blvd%20lance%20san%20diego%2C%20ca%2092120">Directions</a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="card card-width-min">
                            <div class="card-image img-push-right">
                                <a class="hvr-grow" href="https://groceryoutlet.com/">
                                    <img style="padding:30px" src="../assets/images/go_logo.png">
                                </a>
                            </div>
                            <div class="card-content">
                                <p>Cheap produce
                                    <br>Bulk Snacks
                                    <br>Affordable Meats
                                    <br>Great Prices
                                </p>
                            </div>
                            <div class="card-action">
                                <a class="hvr-grow" href="https://www.yelp.com/biz/grocery-outlet-bargain-market-san-diego-8">Profile</a>
                                <a class="hvr-grow" href="https://www.yelp.com/map/grocery-outlet-bargain-market-san-diego-8?start=lance%20and%20college%20blvd%20san%20diego">Directions</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  ----------------------------  -->
            <!--          #2 feature            -->
            <!--  ----------------------------  -->
            <div id="feature-imgs">
                <br>
                <div class="col s6 offset-s1 m3 center">
                    <a class="hvr-grow" href="../assets/images/house_manual.pdf">
                        <img id="res-height" class="responsive-img" src="../assets/images/welcome.jpg" alt="local" height="140px" width="180px">
                    </a>
                    <a class="hvr-grow right" style="padding: 0 17px 0 0;" href="../assets/images/house_manual.jpg" download="house_manual">download</a>
                </div>
                <!--  ----------------------------  -->
                <!--          #3 feature            -->
                <!--  ----------------------------  -->
                <div class="col s6 m3 center">
                    <a class="hvr-grow" href="https://www.yelp.com/collection/tLYtHY8k0-uoEFeiom6e7Q">
                        <img id="res-height" class="responsive-img" src="../assets/images/good_eats.jpg" width="180" height="140" alt="eats">
                    </a>
                </div>
                <!--  ----------------------------  -->
                <!--          #4 feature            -->
                <!--  ----------------------------  -->
                <div class="col s6 m3">
                    <a class="hvr-grow" href="../assets/images/San_Diego_Guide.pdf">
                        <img class="responsive-img" src="../assets/images/san_diego_guide.jpeg" alt="guide">
                    </a>
                    <a class="hvr-grow right" href="../assets/images/Airbnb_House_Manual.jpg" download="sandiego">download</a>
                </div>
            </div>
            <div></div>

            <!--  ----------------------------  -->
            <!--   Large Screen Grocery Cards   -->
            <!--  ----------------------------  -->
            <div id="grocery_list_b" class="row">
                <div class="col m4">
                    <div class="card card-height">
                        <div class="card-image center">
                            <a class="hvr-grow" href="http://www.organicfood-sandiego.com/">
                                <img src="../assets/images/windmill_farms_logo.jpg">
                            </a>
                        </div>
                        <div class="card-content">
                            <p>Fresh produce
                                <br>Bulk Snacks
                                <br>Organic Options
                                <br>Cheap Sandwiches
                                <br>9am - 8pm
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="hvr-grow" href="https://www.yelp.com/biz/windmill-farms-san-diego?osq=windmill+Farms">Profile</a>
                            <a class="hvr-grow" href="https://www.yelp.com/map/windmill-farms-san-diego?start=college%20blvd%20lance%20san%20diego%2C%20ca%2092120">Directions</a>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card card-height">
                        <div class="card-image center">
                            <a class="hvr-grow" href="https://www.traderjoes.com/">
                                <img class="center" id="down_size" src="../assets/images/trader-joes.jpg">
                            </a>
                        </div>
                        <div class="card-content">
                            <p>Free Parking
                                <br>Unique products
                                <br>Ready Meals
                                <br>Organic Options
                                <br>Tasty Snacks
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="hvr-grow" href="https://www.yelp.com/biz/trader-joes-san-diego-26?osq=Trader+Joes+Near+Me">Profile</a>
                            <a class="hvr-grow" href="https://www.yelp.com/map/trader-joes-san-diego-26?start=college%20blvd%20lance%20san%20diego%2C%20ca%2092120">Directions</a>
                        </div>
                    </div>
                </div>
                <div class="col m4">
                    <div class="card card-height">
                        <div class="card-image center">
                            <a class="hvr-grow" href="https://groceryoutlet.com/">
                                <img style="padding:30px" src="../assets/images/go_logo.png">
                            </a>
                        </div>
                        <div class="card-content">
                            <p>Inexpensive produce
                                <br>Wide Selection
                                <br>Affordable Meat
                                <br>Great Prices
                                <br>7am - 9pm
                            </p>
                        </div>
                        <div class="card-action">
                            <a class="hvr-grow" href="https://www.yelp.com/biz/grocery-outlet-bargain-market-san-diego-8">Profile</a>
                            <a class="hvr-grow" href="https://www.yelp.com/map/grocery-outlet-bargain-market-san-diego-8?start=lance%20and%20college%20blvd%20san%20diego">Directions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--row-->

        {{!--
        <div class="center">
            <a class="hvr-grow" href="https://www.airbnb.com/help?audience=guest" class="waves-effect waves-light btn purple lighten-1">More Help</a>
        </div> --}}
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12" style="color: rgb(248, 242, 242);">San Diego has over 70 miles beaches and coastline to explore</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="../assets/images/windandsea.jpg" alt="beach">
    </div>
</div>