<style>
    body {
        background-image: url("images/cali_sunset_pier.jpg");
        /* background-color: #cccccc; */
    }
</style>

<div class="container">
    <div class="row">
        <div class="col s12 m7 min-div-width">
            <ul class="collection with-header">
                <li class="collection-header">
                    <a class="anchor" id="check-in"></a>
                    <h4 class="center headline">
                        <strong>Check in Directions</strong>
                    </h4>
                </li>
                <li class="collection-item">The lockbox is located on a white pillar under a light to the right of the front metal gate<em>(fig#1)</em></li>
                <li class="collection-item">The lockbox code is in your Airbnb  <a href="https://www.airbnb.com/help/article/100/where-can-i-find-check-in-information-for-my-trip">itinerary</a> </li>
                <li class="collection-item">Then pull down the black tab located next to the number<em>(fig#2)</em></li>
                <li class="collection-item">Pull the cover down and retrieve your keys<em>(fig#3)</em> which you will keep for the duration of your stay</li>
                <li class="collection-item">Return the cover to its original upright position then jumble the numbers</li>
                <li class="collection-item">Pull down on the small black tab located just left of the numbers</li>
                <li class="collection-item">Pull the cover down to reveal your keys</li>
                <li class="collection-item">Return the cover to its original position and jumble the numbers</li>
                <li class="collection-item">Let yourself in and make yourself as home, bedrooms are upstairs</li>
            </ul>
        </div>
        <div class="col s12 m5">
            <div class="card-panel center-align min-div-width">
                <img src="../images/lockbox.png" class="materialboxed responsive-img" alt="lockbox" width=280 height=250/>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card horizontal min-div-width">
                <div class="row">
                    <div class="col s3">
                        <div class="card-image">
                            <img src="../images/lightbulb.jpg" id="responsive-img" alt="light bulb" />
                        </div>
                    </div>
                    <div class="col s9">
                        <div class="card-stacked">
                            <div class="card-content font-content">
                                <p>Front door can sometimes use a nice tug to lock more smoothly</p>
                            </div>
                            <div class="card-action">
                                <a href="#tips">More Tips</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 min-div-width">
            <ul class="collection with-header">
                <li class="collection-header">
                    <a class="anchor" id="rules"></a>
                    <h4 class="center headline">
                        <strong>House Tips and Rules</strong>
                    </h4>
                </li>
                <li class="collection-item">Please note your room number denotes your shelf number in the fridge and pantry.</li>
                <li class="collection-item">Lock the door upon leaving and entering the home to help keep our guests and property safe.</li>
                <li class="collection-item">Do not flush any paper towels, feminine products, kleenex, napkins, or other trash down the toilet. Bath
                    Tissue only!</li>
                <li class="collection-item">Do not move the AC unit. The air vents can be moved to change air direction.</li>
                <li class="collection-item">Clean up after yourself in the kitchen (dishes, utensils, pots, and pans) and in the bathroom(shave trimmmings).</li>
                <li class="collection-item">The hand towels in the bathrooms are for drying clean hands only. Please wash your hands thoroughly first.</li>
                <li class="collection-item">Keep all your food items in your designated shelves.</li>
                <li class="collection-item">No overnight guests without authorization.</li>
                <li class="collection-item">Please only leave any trash in designated areas. Large items may be thrown away in the trash bins located
                    on the south facing side of the house, next to the driveway.</li>
                <li class="collection-item">No loud noise after 10pm or before 9am.</li>
                <li class="collection-item">
                    <b>NEVER</b> go over the balcony railing since the wooden trellis since is very fragile</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collection with-header">
                <li class="collection-header">
                    <h4 class="center headline" id="check-out">
                        <strong>Check out Tips</strong>
                    </h4>
                </li>
                <li class="collection-item">Leave the keys on the desk</li>
                <li class="collection-item">Throw away any large trash items in the trash receptacle next to the driveway</li>
                <li class="collection-item">Leave used towels and linens on the bed</li>
                <li class="collection-item">Check drawers and outlets for chargers</li>
                <li class="collection-item">Exit through the front door, don't worry about locking up</li>
                <li class="collection-item">Remove food from your pantry and refrigerator shelves</li>
                <li class="collection-item">Remove any items from the bathroom and shower area</li>
            </ul>
        </div>
    </div>
</div>