<div class="row">
	<div class="col m8 offset-m2">
		<div class="container">
			<h1>Weather</h1>
			<table class="responsive striped centered">
				<thead>
					<tr>
						<th>City</th>
						<th>Country</th>
						<th>Temp</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<!-- info goes here -->
				</tbody>
			</table>
		</div>
	</div>
</div>

{{!-- <script src="../assets/js/weather-api.js" type="text/javascript"></script> --}}