nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
    min-width: 508px;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
 	 background-repeat: no-repeat;
 	 background-size: cover;
 }
 .parallax-container
 {
 	color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
 	color: white;
 }
}
 nav a.button-collapse
 {
 	color:black;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
nav
{
	overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
#lockbox {
  
}

#responsive-img {
  width: 120%;
  height: auto;
  padding: 20px;
  min-width: 100%;
}

.min-div-width {
  min-width: 300px;
}

#icon-shrink {
  display: hide;
}

.headline {
  font-family: 'Knewave', cursive;
}

/* .font-content {
  font-family: 'Varela Round', sans-serif;
} */

body {
  font-family: 'Varela Round', sans-serif;
}

#nav-icon {
  padding: 0 -120px;
}

#title-header {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Knewave', cursive; */
  /* font-family: 'Varela Round', sans-serif; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}

.icon {
  position: relative;
  /* Adjust these values accordingly */
  top: 3px;
  left: 5px;
}

#res-height {
  max-height: 50%;
  max-width: 80%;
  /* padding-left: 9px; */
}

.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.rules-anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

a.grocery-anchor {
  display: block;
  position: relative;
  top: -20px;
  visibility: hidden;
}

#down_size {
  width: 50%;
  height: 50%;
}

a:active {
  background-color: white;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

a.glow:hover,
a.glow:active {
  background-color: orangered;
  color: white;
}
a.glow:focus {
  background-color: orange;
  color: orangered;
}
a.hvr-orange-red:hover {
  color: orangered;
}

button:hover {
  box-shadow: 10px 10px 5px grey;
}

#tips:hover {
  color:orangered;
}

#tips {
  color: black;
  
}

nav ul {
  width: 800px;
  float: right;
}

#large_icon {
  width: 180px;
  height: auto;
}

#map_img {
  width: 300px;
  height: 200px;
}

.card-height {
  height: 403px;
}

h5#quote:hover {
  -webkit-text-fill-color: rgb(245, 241, 4);
}

.card-width-min {
  min-width: 250px;
  position: relative;
}

.img-push-right {
  padding: 0 0 0 12%;
}

#er {
  color: red;
  font-size: 110%;
}

.card-height-min {
  min-height: 400px;
}

a.hvr-red:hover {
  color: red;
  background-color: yellow;
}

.btn-large {border-radius: 8px;}

.card.medium {
  height: auto;
}
.card.medium .card-content {
  height: auto;
}
.card.medium .card-action {
  position: relative;
}

#img-max-height {
  max-height: 20% !important;
}

section.header {
  background-color: white;
  text-align: center;
  padding-top: 10px;
}

.contain {
  display:flex;
  /* justify-content: center; */
  flex:1;
  overflow-y:auto;
  flex-direction:column;
  align-items:center;
  width: 100%;
  height: 100%;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-top-n30 {
  margin-top: -30px;
}
.margin-top-n20 {
  margin-top: -20px;
}
.padding-bottom-40 {
  padding-top: 40px;
}

/* #policy-bg {
background-image: url("images/cali_sunset_pier.jpg")
} */
/* .card { height:400px;}



@media only screen
and (max-width : 480px) {
.card { width:100px;}
}


@media only screen
and (max-width : 767px) {
.card { height:300px;}
} */

.input-field textarea:focus.materialize-textarea + label {
  color: orangered; }
  .input-field .prefix.active {
    color: orangered; }
    input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=tel]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus.materialize-textarea {
      border-bottom: 1px solid orangered;
      -webkit-box-shadow: 0 1px 0 0 orangered;
      -moz-box-shadow: 0 1px 0 0 orangered;
      box-shadow: 0 1px 0 0 orangered; }

      .input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label, .input-field input[type=email]:focus + label, .input-field input[type=url]:focus + label, .input-field input[type=date]:focus + label, .input-field input[type=tel]:focus + label, .input-field input[type=number]:focus + label, .input-field input[type=search]:focus + label, .input-field textarea:focus.materialize-textarea + label {
        color: orangered; }

